/MasonDiagnostic/nbproject/private/
/MasonDiagnostic/build/
/MasonReviewProblems1-1/nbproject/private/
/MasonReviewProblems1-1/build/
/MasonReviewProblems1-2/nbproject/private/
/MasonReviewProblems1-2/build/
/MasonReviewProblems1-3/nbproject/private/
/MasonReviewProblems1-3/build/
/MasonReviewProblems1-4/nbproject/private/
/MasonReviewProblems1-4/build/
/MasonReviewProblems1-5/nbproject/private/
/MasonReviewProblems1-5/build/
/MasonReviewProblems1-6/nbproject/private/
/MasonReviewProblems1-6/build/
/Review Problems 1/MasonReviewChallengeProblems1-1/nbproject/private/
/Review Problems 1/MasonReviewChallengeProblems1-1/build/
/Review Problems 1/MasonReviewChallengeProblems12/nbproject/private/
/Review Problems 1/MasonReviewChallengeProblems12/build/
/Review Problems 2/MasonReviewProblems2-1/nbproject/private/
/Review Problems 2/MasonReviewProblems2-1/build/
/Review Problems 2/MasonReviewProblems2-2/nbproject/private/
/Review Problems 2/MasonReviewProblems2-2/build/
/Review Problems 2/MasonReviewProblems23/nbproject/private/
/Review Problems 2/MasonReviewProblems23/build/
/Review Problems 3/MasonReviewProblems3-1/nbproject/private/
/Review Problems 3/MasonReviewProblems3-1/build/
/Review Problems 3/MasonReviewProblem3-4/nbproject/private/
/Review Problems 3/MasonReviewProblem3-4/build/
/Review Problems 3/Trianglane Problem/nbproject/private/
/Review Problems 3/Trianglane Problem/build/
/Review Problems 3/Trianglane Problem/dist/
/CCC 2023 Problems/SymmetricMountainsProblem/nbproject/private/
/CCC 2023 Problems/SymmetricMountainsProblem/build/
/Unit1Test/nbproject/private/
/MasonUnit1Test/nbproject/private/
/MasonUnit1Test/build/
/IntroAndDefiningClasses1/nbproject/private/
/IntroAndDefiningClasses4/nbproject/private/
/Introducing and Defining Classes 1/IntroAndDefiningClasses4/nbproject/private/
/Introducing and Defining Classes 2/SmilingFaceTestHarnessIDCP2/nbproject/private/
/Introducing and Defining Classes 3/SmilingFaceTestHarnessIDCP2/nbproject/private/
/Introducing and Defining Classes 3/SmilingFaceTestHarnessIDCP2/build/
/Introducing and Defining Classes 3/IntroAndDefiningClasses32/nbproject/private/
/Introducing and Defining Classes 3/IntroAndDefiningClasses32/build/
/Introducing and Defining Classes 3/IntroAndDefiningClasses33/nbproject/private/
/Introducing and Defining Classes 3/StudentTestHarnessIDCP2/build/
/Introducing and Defining Classes 3/StudentTestHarnessIDCP2/nbproject/private/
/Introducing and Defining Classes 3/IntroAndDefiningClasses34/nbproject/private/
/Introducing and Defining Classes 3/IntroAndDefiningClasses35/nbproject/private/
/Introducing and Defining Classes 3/IntroAndDefiningClasses35/build/
/MasonBasketball4U/nbproject/private/
/MasonBasketball4U/build/
/Classes Continued 2/EmployeePayrollSystem/build/
/Classes Continued 2/EmployeePayrollSystem/nbproject/private/
/Classes Continued 2/ShapeTestHarnessCCP2/build/
/Classes Continued 2/ShapeTestHarnessCCP2/nbproject/private/
/Classes Continued 3/ClassHierarchyPractice/nbproject/private/
/MasonBots/nbproject/private/
/Classes Continued 3/ClassHierarchyPractice/build/
/MasonBots/build/
/GUIExercises/GUIExercise1/nbproject/private/
/GUIExercises/GUIExercise1/build/
/GUIExercises/GUIExercise2/nbproject/private/
/GUIExercises/GUIExercise2/build/
/Graphics Exercises/GraphicsExercise1/nbproject/private/
/Graphics Exercises/GraphicsExercise1/build/
/Graphics Exercises/Graphics Exercise 3/nbproject/private/
/Graphics Exercises/Graphics Exercise 3/build/
/Graphics Exercises/GraphicsExercise3/nbproject/private/
/Graphics Exercises/GraphicsExercise3/build/
/Graphics Exercises/GraphicsExercise4/nbproject/private/
/Graphics Exercises/GraphicsExercise4/build/
/Graphics Exercises/Pong/nbproject/private/
/Graphics Exercises/Pong/build/
