/MasonDiagnostic/nbproject/private/
/MasonDiagnostic/build/
/MasonReviewProblems1-1/nbproject/private/
/MasonReviewProblems1-1/build/
/MasonReviewProblems1-2/nbproject/private/
/MasonReviewProblems1-2/build/
/MasonReviewProblems1-3/nbproject/private/
/MasonReviewProblems1-3/build/
/MasonReviewProblems1-4/nbproject/private/
/MasonReviewProblems1-4/build/
/MasonReviewProblems1-5/nbproject/private/
/MasonReviewProblems1-5/build/
/MasonReviewProblems1-6/nbproject/private/
/MasonReviewProblems1-6/build/
/Review Problems 1/MasonReviewChallengeProblems1-1/nbproject/private/
/Review Problems 1/MasonReviewChallengeProblems1-1/build/
/Review Problems 1/MasonReviewChallengeProblems12/nbproject/private/
/Review Problems 1/MasonReviewChallengeProblems12/build/
/Review Problems 2/MasonReviewProblems2-1/nbproject/private/
/Review Problems 2/MasonReviewProblems2-1/build/
/Review Problems 2/MasonReviewProblems2-2/nbproject/private/
/Review Problems 2/MasonReviewProblems2-2/build/
/Review Problems 2/MasonReviewProblems23/nbproject/private/
/Review Problems 2/MasonReviewProblems23/build/
/Review Problems 3/MasonReviewProblems3-1/nbproject/private/
/Review Problems 3/MasonReviewProblems3-1/build/
/Review Problems 3/MasonReviewProblem3-4/nbproject/private/
/Review Problems 3/MasonReviewProblem3-4/build/
